body{
    margin:0;
    padding: 0;
    height: 100%;
    font-family: verdana;
}

.background-container{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 50vw; 
    max-width: 500px; 
    background-color: #fff;
    border-radius: 10px;
}

.register-header-text{
    font-weight: 400;
    font-size: 20px;   
}

.register-form input{
    margin-bottom: 10px;
}

.progress-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.step-indicator {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-weight: bold;
}

.step-indicator.active {
    background-color: #892be2;
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: -15px;
    margin-bottom: 10px;
}

.arrow-link{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: left;
}
